{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <h1>Votre panier</h1>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            {{ item.product.name }}
                        </td>
                        <td>{{ item.product.price }}</td>
                        <td>
                            <a href="{{ path("cart_add", {'id': item.product.id}) }}?returnToCart=true" class="btn btn-sm btn-primary">
                                <i class="fas fa-plus"></i>
                            </a>
                            {{ item.qty }}
                            <a href="{{ path("cart_decrement", {'id': item.product.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fas fa-minus"></i>
                            </a>
                        </td>
                        <td>{{ item.total }}</td>
                        <td>
                            <a href="{{ path("cart_delete", {'id': item.product.id}) }}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total : </td>
                    <td colspan="2">{{ total }}</td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <h2>Le panier est vide !</h2>
    {% endif %}
{% endblock %}
